body{
    padding-top: 40px;
    padding-left: 10%;
    padding-right:10%;
    background-color: #04395E;
}

.default-text{
    color: #BC9EC1;
}

.bs-linebreak{
    height:10px;
    background-color: #C7EDE4;
    margin: 30px;
}
.bs-linebreak-small{
    height:3px;
    margin:10px;
    background-color: #A01A7D;
}
.spaced{
    padding-top:10px;
}

.purple{
    color: #C7EDE4;
    display: inline;
}
.link-class
{
    display: block;
}